torch_scatter==2.1.2
spconv-cu120
addict==2.4.0
pymeshlab==2023.12.post2
ocnn==2.2.5
sharedarray==3.2.4
open3d==0.19.0
yapf==0.32.0
tensorboardX==2.6.2.2
h5py==3.13.0
trimesh==4.6.8
numba==0.61.2
timm==1.0.15
typing_extensions==4.13.2
gorilla-core
opencv-python==4.11.0.86
einops==0.8.1
transformers==4.54.1
